html {
    font-family: 'Roboto', sans-serif;
    background-color: gray;
}

.sidebar {
    height: 100%;
    width: 10vw;
    background-color: black;
    position: fixed;
    overflow-x: hidden;
    margin-top: 7vh;
    grid-column: 1;
    grid-row: 2;
}

.sidebar a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.sidebar a div {
    background-color: black;
}

.sidebar div:hover {
    background-color: black;
    color:red;
}

.tickets {
    /* margin-left: 160px; */
    margin-top: 0vh;
    margin-left: 10vw;
    margin-right: 0;
    width: 1vw;
    grid-column: 2;
    grid-row: 2;
    /* width: 100%; */
    /* text-align: right; */
}



.ticketBar {
    grid-column: 3;
    grid-row: 1;
}

.workIDBar {
    grid-column:1;
    grid-row: 1;
}

.titleBar {
    grid-column: 2;
    grid-row: 1;
    margin-left:2.5vw;
    white-space: nowrap;
}

#workOrderTitle {
    margin: none;
    text-align: left;
    /* background-color: white; */
}

#workIDNum {
    /* margin: 100px; */
    /* background-color: black; */
    margin-bottom: 0px;
}

#ticketNum {
    text-align: center;
}


.responses {
    grid-column: 3;
    margin-top: 0;
    grid-row: 2;
}

.grid-container {
    display: grid;
    /* THIS RIGHT HERE MAN */
    grid-template-columns: 2.5% 35% 62.5%;
    grid-template-rows: 2;

}

#responseTable {
    width: 100%;
    /* text-align: center; */
}

#responseTable th {
    background-color: rgb(95, 93, 95);
}

table td {
    height: 5vh;
}

.tab0 {
    width: 20%;
    text-align: right;
}

.tab1 {
    width: 40%;
    text-align: left;
}

.tab2 {
    width: 20%;
    text-align: right;
}

/* .tab3 {
    width: 20%;
    text-align: center;
} */

.c1 {
    background-color: lightgreen;
}

.c5 {
    background-color: lightgreen;
}

.c4 {
    background-color: lightgreen;
}

.c3U {
    background-color: lightcoral;
}

.c8 {
    background-color: yellow;
}

.c2E {
    background-color: lightgreen;
}

.c3R {
    background-color: lightcoral;
}

.c6A {
    background-color: lightcoral;
}

.c-1 {
    background-color: orange;
}

.c3F {
    background-color: lightcoral;
}

.c2A {
    background-color: lightgreen;
}

.c2B {
    background-color: lightgreen;
}

.c9Z {
    background-color: lightgreen;
}

.c5 {
    background-color: lightgreen;
}

.c3M {
    background-color: lightcoral;
}

.c2E {
    background-color: lightgreen;
}

.c2C {
    background-color: lightgreen;
}

.c3P {
    background-color: lightcoral;
}

.ticket {
    text-decoration: none;
    /* color:green; */
    margin: 1.5vh;
    margin-left: 0px;
    margin-right: 10vw;
    text-align: center;
    text-underline-position: above;
    /* background-color: red; */
}

#tickets a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    text-align: center;
}

#tickets a:hover {
    color: white;
}

canvas {
    /* background-color: white; */
}